<template name="Footer">
  <footer class="main-footer">
    <div>
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.1
      </div>
      <strong>Copyright © 2016 All rights reserved.</strong>
    </div>
  </footer>
</template>
