<template name="Master_layout">
  <div class="admin-layout">
    {{#AdminLTE skin=green}}
    {{> yield "nav"}}
    {{> Sidebar}}
    <div class="content-wrapper" style="min-height: {{minHeight}}">
      {{> yield}}
    </div>
    {{> yield "footer"}}
    {{/AdminLTE}}
  </div>
</template>
