<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <title>Tasks App</title>
</head>

<body>
</body>
