<template name="Nav">
  <header class="main-header">
    <a href="/admin" class="logo">
      <img src="/images/rocket.png" alt="Tasks"> Tasks
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span>{{currentUser.profile.name}}<i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu">
              <li class="">
                <a href="#" class="sign-out">Sign out</a>
              </li>
            </ul>
          </li>
          {{else}}
          <li>
            <a href="/sign-in">Sign in</a>
          </li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>
</template>
