<template name="Sidebar">
  <aside class="main-sidebar">
    <div class="sidebar">
      <ul class="sidebar-menu">
        <li>
          <a href="/">
            <i class="fa fa-dashboard"></i> <span>Tasks</span>
          </a>
        </li>
        <li>
          <a href="/admin">
            <i class="fa fa-edit"></i> <span>Admin</span>
          </a>
        </li>
      </ul>
    </div>
  </aside>
</template>
