<template name="Tasks">
  <section class="content-header">
    <h1>
      Your tasks
    </h1>
  </section>
  <section class="content">
    <!-- row -->
    <div class="row">
      <div class="col-md-12">
        {{#if Template.subscriptionsReady}}
        <ul class="timeline">
          {{#each tasks}}
          <!-- timeline time label -->
          <li class="time-label">
            <span class="bg-red">
              {{createdAtFormatted createdAt}}
            </span>
          </li>
          <!-- /.timeline-label -->

          <!-- timeline item -->
          <li>
            <!-- timeline icon -->
            <i class="fa fa-envelope bg-blue"></i>
            <div class="timeline-item">
              <span class="time">Due at: <i class="fa fa-clock-o"></i> {{dueAtFormatted dueAt}}</span>

              <h3 class="timeline-header"><a href="#">{{title}}</a></h3>

              <div class="timeline-body">
                <strong>Subject:</strong> {{subject}}
              </div>

              <div class="timeline-footer">
                <strong>Details:</strong> {{details}}
              </div>
            </div>
          </li>
          <!-- END timeline item -->
          {{/each}}

        </ul>

        {{#if hasMoreLimit}}
        <div class="box-body">
          <button type="button" id="load-more" class="btn btn-block btn-info btn-flat">Load more</button>
        </div>
        {{/if}}

        {{/if}}
      </div>
    </div>
  </section>
</template>
